@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;600&display=swap');
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /* PRIMARY */
  --bg-color: #fff;
  --neutral-text-color: hsl(220, 13%, 13%);
  --Orange: #ff7d1a;
  --pale-bg: hsl(25, 100%, 94%);
  --qty-bg: hsl(223, 64%, 98%);
  --cart-bg: #fff;
  --total-clr: hsl(220, 13%, 13%);
  --discount-clr: #ff7d1a;
  /* NEUTRAL */
  --text-color: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --White: hsl(0, 0%, 100%);
  --Lightbox: rgba(0, 0, 0, 0.7);
  /* EXTENDED */
  --bold: 600;
  --radius: 8px;
  --radius-full: 50%;
  --spacing: 2px;
  --transition: 0.3s ease-in-out;
  --shadow-light: 0 1px 5px 1px rgba(0, 0, 0, 0.1);
  --shadow-dark: 0 8px 15px 0px rgba(0, 0, 0, 0.3);
  --cursor: pointer;
}
html,
body {
  min-height: 100%;
  scroll-behavior: smooth;
}
body {
  position: relative;
  font-family: 'Kumbh Sans', sans-serif;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}
.dark-theme {
  --bg-color: rgb(14, 20, 27);
  --text-color: rgb(242, 245, 247);
  --neutral-text-color: #fff;
  --pale-bg: #434d57;
  --cart-bg: #434d57;
  --qty-bg: #fff;
  --total-clr: #ffe100;
  --discount-clr: #ffe100;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
li {
  list-style: none;
}
a {
  color: var(--neutral-text-color);
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  color: var(--neutral-text-color);
}
h1 {
  font-size: 25px;
}
h2 {
  font-size: 22px;
}
h3 {
  font-size: 28px;
}
p,
span,
button,
input {
  font-size: 16px;
  color: var(--text-color);
}
a {
  font-size: 15px;
  color: var(--Very-dark-blue);
}
button {
  display: inline-block;
  background: none;
  border: 0;
  outline: 0;
  cursor: var(--cursor);
}
main {
  background-color: var(--bg-color);
  padding-bottom: 2rem;
  transition: var(--transition);
}
.center {
  width: 92%;
  max-width: 1400px;
  margin: 0 auto;
}
.flex-wrapper.center {
  width: 100%;
}
.nav-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12vh;
}
.d-flex,
.flex-child {
  display: flex;
  align-items: center;
}
.d-flex {
  width: 100%;
  justify-content: space-between;
}
.child1 .menu,
.child2 .cart-icon {
  margin-right: 18px;
}
.desktop-nav-list,
.dsk-theme-btn {
  display: none;
}
.cart-icon,
.menu {
  transform: scale(1.2);
}
.cart-icon {
  position: relative;
}
.cart-count {
  position: absolute;
  top: -8px;
  right: -7px;
  width: 18px;
  height: 18px;
  display: grid;
  place-items: center;
  font-size: 12px;
  color: #fff;
  background: var(--Orange);
  line-height: 0;
  transform: scale(0);
  border-radius: 50%;
  transition: var(--transition);
}
.cart-count.show-count {
  transform: scaleX(1);
}
.user {
  width: 37px;
  height: 37px;
  border: 2px solid transparent;
  border-radius: var(--radius-full);
  transition: var(--transition);
  cursor: var(--cursor);
}
.user:hover {
  border: 2px solid var(--Orange);
}
.avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.carousel,
.slider {
  position: relative;
}
.carousel {
  width: 100%;
  height: 50vh;
}
.slider {
  width: 100%;
  height: 100%;
}
.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: var(--transition);
}
.slide.active {
  opacity: 1;
}
.slide > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider > .slide:nth-child(1) {
  z-index: 2;
}
.slide-btn {
  position: absolute;
  top: 50%;
  width: 38px;
  height: 38px;
  display: grid;
  place-items: center;
  background-color: var(--White);
  transform: translateY(-50%);
  z-index: 3;
  border-radius: var(--radius-full);
  box-shadow: var(--shadow-light);
}
.prev {
  left: 14px;
}
.next {
  right: 14px;
}
.lb-thumbnails,
.show-lightbox {
  display: none;
}
.about {
  padding: 1.5rem 0 0;
}
.company {
  margin-bottom: 1rem;
  font-size: 14px;
  color: var(--Orange);
  letter-spacing: var(--spacing);
  font-weight: 600;
}
.about-content .content h1 {
  margin-bottom: 1.4rem;
  line-height: 1.3;
}
.pricing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.6rem 0;
}
.discount-price {
  display: flex;
  align-items: center;
}
.discount-price p {
  font-size: 28px;
  color: var(--neutral-text-color);
  font-weight: var(--bold);
  margin-right: 1rem;
}
.discount-price span {
  font-size: 14px;
  padding: 5px 10px;
  color: var(--discount-clr);
  background-color: var(--pale-bg);
  font-weight: var(--bold);
  border-radius: var(--radius);
}
.old-price p {
  text-decoration: line-through;
  color: var(--Grayish-blue);
}
.qty-group {
  display: flex;
  width: 100%;
  padding: 15px;
  background-color: var(--qty-bg);
  border-radius: var(--radius);
  box-shadow: var(--shadow-light);
}
.qty-num {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  color: #000;
  font-weight: var(--bold);
}
.addtocart-btn,
.checkout-btn,
.summary-btn {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  margin-top: 1.3rem;
  background-color: var(--Orange);
  color: var(--White);
  border-radius: var(--radius);
  box-shadow: var(--shadow-light);
  transition: var(--transition);
  letter-spacing: var(--spacing);
}
.addtocart-btn img {
  transform: scale(0.8);
  margin-right: 10px;
}
.addtocart-btn:hover,
.checkout-btn:hover,
.summary-btn:hover {
  opacity: 0.7;
}
.cart {
  position: fixed;
  max-width: 500px;
  top: 14vh;
  right: 0;
  left: 0;
  transform: scale(0);
  background: var(--cart-bg);
  border-radius: var(--radius);
  transition: var(--transition);
  box-shadow: var(--shadow-light);
  z-index: 5;
}
.show-cart {
  transform: scale(1);
}
.cart-header {
  position: relative;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
}
.cart-header h3 {
  font-size: 18px;
}
.cart-header::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--neutral-text-color);
  opacity: 0.25;
}
.cart-items {
  padding: 1rem 0;
}
.empty-cart {
  padding: 3rem 0;
  text-align: center;
}
.item,
.item-info {
  display: flex;
}
.item {
  justify-content: space-between;
  align-items: center;
}
.item-info img {
  border-radius: var(--radius);
  margin-right: 12px;
}
.product-info p,
.product-info span {
  font-size: 14px;
  line-height: 1;
}
.product-info span {
  margin-right: 10px;
}
.total {
  color: var(--total-clr);
  font-weight: var(--bold);
}
.addtocart .item-qty-group:nth-child(2),
.addtocart .item-qty-group:nth-child(3),
.addtocart .item-qty-group:nth-child(4) {
  display: none;
}
.cartForm {
  padding: 1rem 0;
  display: none;
}
.show-cartform {
  display: block;
}
.form-control {
  margin-bottom: 1rem;
}
.form-control label {
  display: block;
  margin-bottom: 0.2rem;
  font-size: 14px;
  color: var(--neutral-text-color);
}
.form-control label span {
  color: red;
}
.form-control,
.form-control input {
  width: 100%;
}
.form-control input {
  padding: 10px;
  border: 0;
  outline: 0;
  background-color: #ffcd9e;
  border-radius: var(--radius);
  transition: var(--transition);
  color: var(--Very-dark-blue);
}
.form-control input::placeholder {
  font-size: 14px;
}
/* remove chrome autocomplete pale blue highlight */
/* .form-control input:-webkit-autofill,
.form-control input:-webkit-autofill:hover,
.form-control input:-webkit-autofill:focus,
.form-control input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  box-shadow: 0 0 0 30px white inset !important;
} */

.form-control input:focus {
  box-shadow: 0 0 0 2px #ff7d1a;
}
.checkout-btn {
  margin-top: 2rem;
}
.checkout-btn:disabled {
  background-color: #ccc;
}
aside {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateX(-100%);
  background: var(--Lightbox);
  transition: var(--transition);
  transition-delay: 0.2s;
  z-index: 6;
}
.show-sidebar {
  transform: translateX(0);
}
.sidebar {
  position: fixed;
  top: 0;
  width: 60vw;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 0 1rem 1rem;
  background-color: var(--bg-color);
  transform: translateX(-100%);
  transition: var(--transition);
  z-index: 7;
}
.theme-btn {
  min-width: 16ch;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: var(--neutral-text-color);
  box-shadow: 0 0 0 2px var(--neutral-text-color);
  padding: 8px;
  border-radius: 20px;
  transition: var(--transition);
}
.theme-btn span {
  transform: scale(1.2);
}
.mobile_dark_icon {
  color: #ffe100;
}
.show-sidebar .slidein {
  transition-delay: 0.4s;
  transform: translateX(0);
}
.sidebar-header {
  height: 12vh;
  display: flex;
  align-items: center;
}
.mobile-nav-item {
  line-height: 2;
}
.mobile-nav-link {
  color: var(--neutral-text-color);
  font-weight: var(--bold);
}
.lightbox {
  display: none;
}
.name.error {
  box-shadow: 0 0 0 2px red;
}
.email.error {
  box-shadow: 0 0 0 2px red;
}
.summary {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background-color: var(--Lightbox);
  z-index: 100;
}
.summary-content {
  width: 95%;
  max-width: 600px;
  padding: 1.5rem;
  background-color: var(--cart-bg);
  border-radius: var(--radius);
  box-shadow: var(--shadow-light);
}
.summary-content h3 {
  font-size: 23px;
  text-align: center;
}
.summary-content h3 span {
  font-size: 23px;
  color: var(--Orange);
}
.summary-icon {
  width: 80px;
  height: 80px;
  margin: 1.2rem auto;
}
.summary-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.darkcheck {
  filter: brightness(0) invert(1);
}
.summary-text {
  text-align: center;
  font-size: 28px;
  margin-bottom: 1rem;
  color: var(--neutral-text-color);
}
.summary-table {
  display: flex;
  justify-content: space-between;
}
.table-col h4 {
  font-size: 18px;
}
.summary-btn {
  width: 50%;
  margin: 2rem auto 0;
}
@media screen and (min-width: 600px) {
  .center {
    width: 85%;
  }
  .about-content .content p {
    max-width: 600px;
  }
  .item-qty-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .qty-group {
    width: 48%;
  }
  .addtocart-wrapper {
    width: 48%;
  }
  .addtocart-btn {
    width: 100%;
    margin-top: 0;
  }
  .child2 .cart-icon {
    margin: 0 30px;
  }
}
@media screen and (min-width: 900px) {
  main {
    height: 100vh;
  }
  h1 {
    font-size: 30px;
  }
  .nav-header {
    position: relative;
  }
  .nav-header::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--neutral-text-color);
    opacity: 0.25;
  }
  .dsk-theme-btn {
    display: block;
    transform: scale(1.5);
    margin-right: 1rem;
  }
  .dark_icon {
    color: #ffe100;
  }
  .cart {
    width: 400px;
    top: 12vh;
    left: auto;
    right: 30px;
    box-shadow: var(--shadow-dark);
  }
  .flex-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0 4rem;
  }
  .flex-wrapper.center {
    width: 85%;
  }
  .wrapper {
    width: 100%;
  }
  .carousel {
    width: 100%;
    height: 65vh;
  }
  .carousel-thumbnails {
    margin-top: 1rem;
  }
  .slide-btns {
    display: none;
  }
  .about-content .content p {
    max-width: 100%;
  }
  .slider {
    width: 100%;
    height: 100%;
  }
  .slide {
    width: 100%;
    height: 100%;
  }
  .slide img {
    width: 100%;
    border-radius: var(--radius);
  }
  .menu {
    display: none;
  }
  .child1 img,
  .child2 button {
    margin-right: 1rem;
  }
  .desktop-nav-list {
    display: flex;
  }
  .desktop-nav-item {
    position: relative;
    line-height: 0;
  }
  .desktop-nav-link {
    display: inline-block;
    height: 12vh;
    display: grid;
    place-items: center;
    margin: 0 1rem;
    color: var(--neutral-text-color);
    transition: var(--transition);
  }
  .desktop-nav-link::after {
    content: '';
    position: absolute;
    display: block;
    right: 0;
    left: 0;
    bottom: 0;
    width: 50px;
    height: 4px;
    background-color: var(--Orange);
    margin: 0 auto;
    opacity: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: var(--transition);
  }
  .desktop-nav-link:hover::after {
    opacity: 1;
  }
  .desktop-nav-link:hover {
    color: #aaa;
  }
  aside.show-sidebar {
    display: none;
  }
  /* lightbox */
  .lightbox {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: none;
    background-color: var(--Lightbox);
    z-index: 9;
  }
  .show-lightbox {
    display: block;
  }
  .lb-gallery {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .close-lb {
    width: 450px;
    height: 15%;
    display: block;
  }
  .close-lb img {
    margin-left: auto;
  }
  .lb-carousel {
    position: relative;
    width: 450px;
    height: 60%;
    z-index: 99;
  }
  .lb-slider {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .lb-slide {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    opacity: 0;
    transition: var(--transition);
  }
  .lb-slide.active {
    opacity: 1;
  }
  .lb-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: var(--radius);
  }
  .lb-slider .lb-slide:first-child {
    z-index: 1;
  }
  .lb-thumbnails {
    height: 35%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .lb-thumbnail {
    position: relative;
    width: 80px;
    height: 80px;
    overflow: hidden;
    border-radius: var(--radius);
    opacity: 1;
    transition: var(--transition);
    cursor: var(--cursor);
  }
  .thumbnail-active {
    box-shadow: 0 0 0 3px var(--Orange);
  }
  .thumbnail-active::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.6);
    transition: var(--transition);
  }
  .lb-thumbnail:hover {
    box-shadow: 0 0 0 3px var(--Orange);
    opacity: 0.7;
  }
  .lb-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .lb-prev {
    left: -17px;
  }
  .lb-next {
    right: -17px;
  }
  .pricing {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media screen and (min-width: 1200px) {
  .child1 img {
    margin-right: 5em;
  }
  .child2 .cart-icon {
    margin: 0 4rem;
  }
  .desktop-nav-link {
    margin: 0 2rem;
  }
  .flex-wrapper {
    gap: 5%;
  }
  .carousel {
    width: 95%;
  }
  .wrapper {
    width: 95%;
  }
  .cart {
    right: 70px;
  }
  .qty-group {
    width: 38%;
  }
  .addtocart-wrapper {
    width: 58%;
  }
}
